[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "vim"]
	path = vim
	url = https://github.com/carlhuda/janus.git
  ignore = dirty
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized.git
  ignore = dirty
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
  ignore = dirty
